{% extends 'base.html' %}
{% block title %}New Cage{% endblock %}
{% block content %}

{% load static %}

<br>

<h2 class="text-primary">Create New Cage</h2>
<br>
<form method="POST" class="needs-validation" novalidate>
    {% csrf_token %}

    {% include "includes/alert-message.html" %}

    <div class="row my-3">
        <div class="col-md-6">
            <div class="form-outline">
                <label for="{{ form.year.id_for_label }}" class="form-label">Cage Label</label>
                {{ form.label }}
            </div>
        </div>
    </div>
    <div class="d-flex" style="padding-top: 10px;">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>

{% endblock %}