{% extends 'base.html' %}
{% block title %}{{ cage.label }}{% endblock %}
{% block content %}


<br>
<h2 class="text-primary"> {{cage}}</h2>
<br>

{% include "includes/alert-message.html" %}
    
<div class="container px-4">
    <div class="row">
        <div class="col-4">
            <strong class="text-dark">ID: </strong>
            <span class="text-secondary">{{ cage.id }}</span>
        </div>
        <div class="col-6">
            <strong class="text-dark">latest health status: </strong>                
            {% if cage.latest_health_status == '1' %}
                <span class="text-danger">Bad</span>
            {% elif cage.latest_health_status == '2' %}
                <span class="text-warning">Ok</span>
            {% elif cage.latest_health_status == '3' %}
                <span class="text-success">Perfect</span>
            {% else %}
                <span class="text-muted">No data</span>                
            {% endif %}
        </div>
    </div>
    <br><br>
    {% if today_sensor_data|length == 0 %}
        <div class="d-flex">
            <i class="fa-sharp fa-solid fa-circle-exclamation text-warning" style="margin-right: 5px; margin-top: 4px;"></i>
            <p class="text-muted">No data has been recorded today</p>
        </div>
    {% else %}
        <div>
            <h2 class="text-secondary">Today's health data recorded</h2>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Status</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>    
                <tbody>
                    {% for data in today_health_data %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                {% if data.health_status == '1' %}
                                <span class="text-danger">Bad</span>
                                {% elif data.health_status == '2' %}
                                    <span class="text-warning">Ok</span>
                                {% elif data.health_status == '3' %}
                                    <span class="text-success">Perfect</span>
                                {% else %}
                                    <span class="text-muted">No data</span>                
                                {% endif %}
                            </td>
                            <td>{{ data.timestamp|time:"H:i" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br><br>

            <h2 class="text-secondary">Today's sensor functionality</h2>
            <br>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Time</th>
                        <th scope="col">successful</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>    
                <tbody>
                    {% for data in today_sensor_data %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ data.timestamp|time:"H:i" }}</td>
                            {% if data.is_successful %}
                                <td><i class="fa-solid fa-circle-check" style="color: #388e3c;"></i></td>
                            {% else %}
                                <td><i class="fa-sharp fa-solid fa-circle-xmark" style="color: #c62828;"></i></td>
                            {% endif %}
                            <td>
                                {% if data.health_status == '1' %}
                                <span class="text-danger">Bad</span>
                                {% elif data.health_status == '2' %}
                                    <span class="text-warning">Ok</span>
                                {% elif data.health_status == '3' %}
                                    <span class="text-success">Perfect</span>
                                {% else %}
                                    <span class="text-muted">-</span>                
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
        
{% endblock %}