{% extends 'base.html' %}
 
{% block content %}

    {% if user.is_authenticated %}
        <br>
        <h2 class="text-primary">List of Cages</h2>
        <br>

        {% include "includes/alert-message.html" %}

        <table class="table" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">cage label</th>
                    <th scope="col">latest health status</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>    
            <tbody>
                {% for cage in object_list %}
                    <tr>
                        <th scope="row">
                            <a href="{% url 'cage-detail' cage.pk %}">
                                {{ cage.id }}
                            </a>
                        </th>
                        <td>{{ cage.label }}</td>
                        <td>
                            {% if cage.latest_health_status == '1' %}
                                <span class="text-danger">Bad</span>
                            {% elif cage.latest_health_status == '2' %}
                                <span class="text-warning">Ok</span>
                            {% elif cage.latest_health_status == '3' %}
                                <span class="text-success">Perfect</span>
                            {% else %}
                                <span class="text-muted">No data</span>                
                            {% endif %}
                        </td>
                        <td><a href="{% url 'edit-cage' cage.pk %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td><a href="{% url 'delete-cage' cage.pk %}"><i class="fa-solid fa-trash" style="color: #d32f2f;"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% for cageObj in page_obj %}
            {# Each "cageObj" is a Contact model object. #}
            {{ cageObjact.label|upper }}<br>
        {% endfor %}

        <nav 
        aria-label="Page navigation example"
        class="position-absolute bottom-0 start-50 translate-middle-x" 
        style="margin-bottom: 40px;"
        >
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}

                {%  for page_number in page_obj.paginator.page_range %}
                    {% if page_number == page_obj.number %}
                        <li class="page-item"><span class="page-link active" aria-current="page">{{ page_number }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                {% endif %}
            </ul>
      </nav>

    {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;" >
            <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>  

        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
            Authentication error. Please login first.
            </div>
        </div>
    {% endif %}

{% endblock %}